.jumbotron {
  text-align: center;
  background: url("img/pingpong.gif");
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  margin-top: 25px;
  align-items: center;
}

#userInput {
  width: 30%;
}

.col-md-8 {
  border-style: solid;
  border-width: inherit;
  height: 500px;
  margin-left: 200px;
}



.col-md-2 {
  border-style: solid;
  background: url("img/pingpongcol.jpg");
  height: 1000px;
  background-repeat: no-repeat;
}

body {
  background-color: orange;
}

a {
  color: red;
}

p {
  font-size: 16px;
  font-weight: bold;
}
